[2022-04-22 14:51] pawandeore commented on #92
@saschabregenhorn  how do i give different parameters like  i want to loop 1 slider but i don't want to loop another one

[2022-04-23 22:02] rcbyr commented on #220
I gave it another try: https://codesandbox.io/s/elegant-lamarr-78e60p?file=/index.html

[2022-04-24 06:52] rcbyr commented on #217
Thanks for the hint. Fixed.

[2022-04-24 06:52] #217 closed

[2022-04-24 06:52] #219 closed

[2022-04-24 06:57] rcbyr commented on #203
Hey @Madhanwebdev

sorry for the late answer. It is a little bit hard to tell without seeing any code. I would suggest to have a look at the mutation observer plugin. https://keen-slider.io/examples#mutation

[2022-04-24 12:45] rcbyr commented on #198
Seems to work again in the current version.

[2022-04-24 12:45] #198 closed

[2022-04-24 21:12] rcbyr commented on #50
At the moment, I don't think there is a performance problem with the slider. Therefore, I am closing this issue for the moment.

[2022-04-24 21:12] #50 closed

[2022-04-24 21:20] #130 closed

[2022-04-24 21:39] rcbyr commented on #178
In the current version you can use the `maxIdx` property of the track details. This value gives you the maximum index that can be reached.

[2022-04-24 21:39] #178 closed

[2022-04-24 21:55] rcbyr commented on #200
Hey @McSimKammerer

sorry for the late answer. I've been thinking about this problem for a while and haven't had a good idea how to implement it. At the moment, the slider needs static dimensions to work correctly. If these dimensions change, the slider must be reinitialized. Unfortunately, your implementation idea breaks with this principle.

Let me know if you can make this work, I will do it to

[2022-04-24 21:55] #200 closed

[2022-04-24 21:58] rcbyr commented on #204
What ponciusz said.

[2022-04-24 21:58] #204 closed

[2022-04-25 21:13] CodeAsArt commented on #220
Hi @rcbyr, first of all thank you for another try and your patience with our problem. 👍  Your last try seems to be better than previous one, but there is still mouse wheel drawback.

[2022-04-26 04:54] rcbyr commented on #220
Hey @CodeAsArt, that's what I meant before, the wheel event is not consistent. With my Macbook touchpad or mouse it works just fine. On my Windows PC with a mouse as well. It doesn't seem to work as well on your device. Perhaps you can fine tune my solution to fit your needs. It would be great if you share your solution if you find a better one.

[2022-04-28 07:07] oowliq opened #222 "TypeError: undefined is not an object (evaluating 'this.concat.apply') (iOS 11)"
Slider breaks on iOS 11 Safari
TypeError: undefined is not an object (evaluating 'this.concat.apply')

When calling the useKeenSlider everything is fine, the problems start when we pass the ref to the element

`const [sliderRef] = useKeenSlider(
        {
            mode: 'free-snap',
            initial: 0,
            slides: {
                perView: 2,
                spacing: 3,

[2022-04-28 12:06] ramtinattar opened #223 "multiple slides perView makes an empty space"
Hey there,
I'm facing an issue with PerView value. When I want to show more than one slide ( for example 3 ) and I use perView: 3, there is a big empty space in the end of the slider. And the number of dots is still as much as when we have one slide per view.
For example if I have 6 slides and I wanna have 3 per view, instead of having 2 dots I still have 6.

Could you fix these 2 issues or if the

[2022-04-29 18:02] boomikuma commented on #214
It works! However, I think there's still a bug; it seems that when the slide is not full, `maxIdx` will show as the total number of slides instead of 0. For example, go to https://codesandbox.io/s/mutable-waterfall-lhhzq3?file=/src/App.js and change all the `maxWidth` and `minWidth` to small number.

Look at `maxIdx` in console
<img width="1251" alt="image" src="https://user-images.githubuserconte

[2022-04-29 19:48] rcbyr commented on #223
Hey @ramtinattar

can you share your code or better create a codesandbox. Which version do you use?

[2022-04-29 19:49] rcbyr commented on #222
Thanks for noticing me about that problem. I will have a look at that in a few days.

[2022-04-29 20:57] rcbyr commented on #214
Thank you for pointing this out to me. Fixed in v6.6.11

[2022-04-30 12:05] ramtinattar commented on #223
Hey @rcbyr

Here an example of what I'm talking about : https://codesandbox.io/s/frosty-boyd-058vf9?file=/index.html:1030-1033

[2022-05-01 21:58] rcbyr commented on #222
Fixed in v6.6.12

[2022-05-01 21:58] #222 closed

[2022-05-03 14:35] Tokke93 commented on #202
Encountering the same issue with Pressable. Did you find a solution?

[2022-05-05 12:27] solidevolution opened #224 "Releases"
We update our dependencies with npm-check

`❯◉ keen-slider              6.6.10  ❯  6.6.12  https://keen-slider.io`

Here best practice is to use the release function of GitHub and write some informations about feature and bugfixes instead only tagging versions without information.

If then the link in npm-check goes directly to the release page on GitHub, I would be very very happy :-D

[2022-05-05 16:50] solidevolution opened #225 "Bugs in after upgrading from 6.6.10 to 6.6.12"
We did our monthly dependency updates and got slider not working in our design system:

* slides are broken, slides are among themselves instead of side by side for horizontal scrolling
* initial loading shows slider without full width for a moment, then it loads

Our options:

[code]

HTML:

[code]

Imports
[code]

[2022-05-05 17:17] ponciusz commented on #225
check if .keen-slider got default styles in our case it completely not including default styles.

[2022-05-05 17:21] solidevolution commented on #225
<img width="471" alt="Bildschirmfoto 2022-05-05 um 19 20 32" src="https://user-images.githubusercontent.com/6850773/166978081-8ee55f7f-2173-45b8-8d4a-9b7b062a571c.png">

This style are completely missing after version update.

[2022-05-05 17:23] ponciusz commented on #225
Ye something is wrong quick fix is to copy all styles and use from anywhere else not node_modules folder that's what we did

[2022-05-05 17:24] ponciusz commented on #225
But in my case reverting to prev version does not fix issue so might be something with other dependencies which causing it

[2022-05-05 17:28] solidevolution commented on #225
Revert to 6.6.10 works

[2022-05-05 17:37] rcbyr commented on #225
Hello @solidevolution

I wasn't able to reproduce this error in a codesandbox. Here is a codesandbox with your settings and the current version: https://codesandbox.io/s/pensive-blackwell-vpft4e?file=/src/App.js

Which Framework do you use? Can you give me a hint how I can reproduce that?

[2022-05-05 18:46] ponciusz commented on #225
In my case it's next.js react and I only can reproduce when building app.
 dev mode with hot reload works fine

[2022-05-05 19:19] rcbyr commented on #225
@solidevolution I've tried it with vue(2.6.10) + storybook 5 and it works. Can you give me a small repository where I can reproduce this behavior?

@ponciusz I've tried it with next 11 and next 12 without problems in dev mode or when building? What error do you get?

[2022-05-05 21:52] ponciusz commented on #225
No error just not including styles when building app and running it

[2022-05-06 03:19] rcbyr commented on #225
@solidevolution Can you update your project to v6.6.13? I think I found the problem.

@ponciusz Since you said that going back to a previous version didn't fix the problem, I'm not sure if you're having the same bug or just the same effect. Maybe you can try the new version as well? Does including other css files work when creating your app?

[2022-05-06 07:13] ponciusz commented on #225
Looks like it's fixed now what was that? Something in npm? It was CSS was recognized as module.

[2022-05-06 07:39] rcbyr commented on #225
I've added `sideEffects`: `false` to the package.json. It seems that I should have read the webpack documentation more carefully. Unfortunately, I could not reproduce it until now.

I removed the property again.

[2022-05-06 08:42] rcbyr commented on #224
Thank you for your feedback. I understand the problem and wanted to use releases for some time now. Next time I will create a release.

[2022-05-06 08:42] #224 closed

[2022-05-06 08:58] solidevolution commented on #224
Great support, thank you for your awesome work!

[2022-05-06 16:59] sharaku17 opened #226 "Setting State in slideChanged strange behaviour"
Hi guys,

I am coming today with a very strange behavior that sadly I cannot manage to reproduce in a CodeSandbox, so the bug has to be on my side somehow. I am not sure if somebody can help me, but I am just hoping that maybe someone has some kind of idea of what could lead to this weird behavior.

I have implemented a Slider with navigation Bullet Points similar to the one in the examples here:

[2022-05-06 19:51] rcbyr commented on #226
Hey @sharaku17

which keen-slider version and react version are you using?

Are you using exactly the same component as in the example? If not, can you share your code?

[2022-05-06 19:57] #220 closed

[2022-05-06 20:26] rcbyr commented on #223
Hey @ramtinattar

thank you very much for creating the codesandbox. The origin property sets the origin(halt point) of all slides and this relative to the viewport. Because of that you this big empty space at the end of the slider. Because the halt point of the last slide is at 0.1. -> I've adjust your codexample. https://codesandbox.io/s/relaxed-antonelli-0wmwur?file=/index.html

The problem with

[2022-05-06 20:26] #223 closed

[2022-05-06 22:00] chernushevich opened #227 "Slider breaks when inside container with flex-grow"
Hello,

When the slider is placed inside a container that has flex-grow set to 1, it breaks (a horizontal scrollbar appears).

Example: [https://codesandbox.io/s/flex-grow-2sxm5u?file=/src/App.js](https://codesandbox.io/s/flex-grow-2sxm5u?file=/src/App.js)

I am on latest Chrome on Windows.

Is this expected behavior? If so, how should it be handled? Thank you!

[2022-05-07 05:45] rcbyr commented on #227
Hey @chernushevich

adding `overflow: hidden;` to your inner-container should fix that problem.

[2022-05-07 06:14] chernushevich commented on #227
Hello @rcbyr
Thank you! That fixed the problem, however now I've ran into a different issue - the slides don't take 100% of the allocated space if there is a sidebar with more that 2 words (I know this sounds confusing, please see attached example).

Example (reload the preview to see the bug): https://codesandbox.io/s/flex-grow-2sxm5u?file=/src/App.js

[2022-05-07 06:59] rcbyr commented on #227
It seems that the width of the container was not yet calculated at the time the slider was initialized. A fix could look like this: https://codesandbox.io/s/flex-grow-forked-omoo7d?file=/src/App.js

[2022-05-07 07:01] chernushevich commented on #227
@rcbyr that worked! Thank you for the help.

[2022-05-07 07:20] #227 closed

[2022-05-07 17:06] #225 closed

[2022-05-09 09:20] sharaku17 commented on #226
Hi @rcbyr

I was using the keen-slider Version 6.6.10

I actually managed to fix the Problem during the weekend, as expected the issue was happening due to a issue on our code side. Somebody had implemented a useEffect hook that was causing the described behavior and thus I was able to fix it.

On the other hand I have a second question, I hope its fine if I ask this here and don't make a second I

[2022-05-09 15:22] mephistia opened #228 "Slide cloning doesn't work with lazy slides"
Hello, first I'd like to thank you for the great lib, it's really impressive!

So, I'm having a bit of a problem trying to clone the slides to create a looping carousel even if the amount of slides doesn't "cover" the viewport.

I'm using wrapper components to centralize the carousel logic (Carousel and CarouselSlide). The Carousel component receives children and options, and the children are Caro

[2022-05-09 17:00] AlexanderHubar commented on #203
@rcbyr same for me. https://cln.sh/WXaNCr

[2022-05-09 19:19] rcbyr commented on #226
Hey @sharaku17

sorry but I couldn't reproduce that with Google Chrome (101.0.4951.54) on Mac. :-(

[2022-05-09 21:52] rcbyr commented on #228
Hey @mephistia

I have created an example to show a simpler approach.
I hope this helps: https://codesandbox.io/s/empty-sun-3vvvsd?file=/src/App.js

[2022-05-10 18:01] mephistia commented on #228
Hi, thanks for the example, it was really helpful! I was able to get it working by using a similar approach, but outside of the Carousel component, manipulating the items itself and not the children.

Do you think it could work as a plugin for the slider? I tried to modify the `slider.slides` array but it didn't update, even when calling the update method right after.

[2022-05-10 18:01] #228 closed

[2022-05-10 19:47] zack-carlson opened #229 "Slider unable to calculate correct width inside of Grid"
Keen slider inside of a grid has difficulty determining width when the grid-template-columns uses 1fr;

grid-template-columns: 100% however works fine.
https://codesandbox.io/s/flex-grow-forked-h96l3g?file=/src/styles.css

[2022-05-12 20:47] mephistia opened #230 "Vertical thumbnail grow when window is resized, slides per view not working"
Hello, I was trying to make a thumbnail navigation with vertical slides and noticed the slides height go crazy when the window is resized (the more you resize the window, the taller they get). The vertical slider also does not apply the `slides: { perView }` option correctly.

I wondered if some of my CSS could have been causing that, so I forked the thumbnail example and just added `vertical: tru

[2022-05-13 05:31] rcbyr commented on #230
Hey @mephistia

yes, it was your css. You have to give the container ".keen-slider" a fixed height. See my changes: https://codesandbox.io/s/vertical-thumbnails-forked-kyfuns?file=/src/styles.css

[2022-05-13 05:41] rcbyr commented on #229
Thank you for sharing that. I want to fix that in the next week.

[2022-05-13 10:25] ponciusz commented on #213
i managed to cheat it little bit with local state
[code]
as its always re-rendering that phase its working ok

[2022-05-13 10:31] ponciusz opened #231 "slider is not sliding when: slider.current?.moveToIdx()"
https://codesandbox.io/s/bold-poincare-ux70op?file=/src/App.tsx:1993-2022

If element we want to scroll is pretty close to the end of slider and there is no way to align it to left its not scrolling at all.

https://user-images.githubusercontent.com/3374777/168265688-ccf471cd-683a-4c6a-8872-fabd1174fc4c.mp4

[2022-05-13 11:09] rcbyr commented on #231
The slide index 5 is not reachable. `track.details.maxIdx` gives you the maximum reachable index. See here: https://codesandbox.io/s/angry-wozniak-miycc5?file=/src/App.tsx

[2022-05-13 12:16] ponciusz commented on #231
Perfect its solving the issue. Thanks

[2022-05-13 12:16] #231 closed

[2022-05-13 15:33] #230 closed

[2022-05-14 05:39] rcbyr commented on #229
Hey @zack-carlson

adding `overflow: hidden;` to your wrapper (`.main`) will fix the width calculation.

[2022-05-14 05:39] #229 closed

[2022-05-14 05:48] rcbyr commented on #203
Hey @AlexanderHubar

I think something like this could fix your problem:

`useEffect(() => {
  slider.current.update()
  thumbnail.current.update()
}, [media, slider, thumbnail])`

[2022-05-14 06:42] klausXR commented on #154
Plus one for this.

On a large page with 12+ slides the performance is not as smooth as in the demos.

I think applying transformations to the container as opposed to slides will improve this a lot.

[2022-05-15 06:25] rcbyr commented on #156
Fixed this in v6.6.14.

[2022-05-15 06:25] #156 closed

[2022-05-16 08:16] AlexanderHubar commented on #203
@rcbyr thank you for the answer

[2022-05-16 18:16] #203 closed

[2022-05-18 21:51] #226 closed

[2022-05-22 19:54] rcbyr commented on #79
I created the carousel example. The coverflow is a really custom implementation. Maybe, I will do this sometime in the future.

[2022-05-22 19:54] #79 closed

[2022-05-23 10:34] s446683009 opened #232 "setNativeProps is not currently supported in Fabric"
Run app with new architecture

[2022-05-23 15:40] leneos opened #233 "Auto variable width slider"
I get data from server so the content of each slide will differ from each other. Generally each slide contains icon and text.
How to make auto variable width slider? I can't do it with keen-slider like in docs, because in the docs you have to strictly describe minWidth and maxWidth. Help me please.

[2022-05-24 11:29] nghiepit commented on #55
Currently `.details()` no longer available.
Also, this feature is needed when using `perView: "auto"` It is difficult to calculate the number of sliders on the current page.

For example: https://codesandbox.io/s/summer-rgb-wnhxmv?file=/src/App.tsx
[code]
Maybe we need an option to set a number of slides going on one "click"
[code]
`perMove: 'page'` automatically calculates the number of sliders.

[2022-05-28 05:41] rcbyr commented on #233
Hey @leneos

I've created a codesandbox to show you one possible way to achieve that: https://codesandbox.io/s/elated-babycat-pekgvi?file=/src/App.js

[2022-05-28 07:43] grazianodev commented on #98
+1 for adding dynamic height support

[2022-05-28 15:13] leneos commented on #233
@rcbyr It works perfectly! Thank you very much!!!

[2022-05-29 03:56] dungle-scrubs opened #234 "Can keen accommodate slides that exceed the carousel width?"
I have a need for the final slide, which is wider (or taller if vertical) that the slider itself.  When reaching the end, the rest of the slide ends up cut off and out of view because the slide aligns to the start of itself, rather than the end edge..

The use case for me is a vertical slider where each panel is taller than the screen, but I'd like the user to be able to scroll to the bottom edge

[2022-05-29 18:41] rcbyr commented on #234
Hey @dungle-scrubs,

I'm not quite sure I completely understand your goal. Here is a code sandbox with my guess: https://codesandbox.io/s/suspicious-fire-w2ux8l?file=/src/App.js

[2022-05-31 14:26] MrAlexand0r opened #235 "Rounding Error on Dynamic Slider with multiple Slides"
## Summary
It seems like, when progress is above 0.9999999999999, it gets rounded up to the next Dynamic Page, which causes a Problem in my Projekt with multiple slides per view.

## Video Proof
![Video](https://i.imgur.com/zpZnwWO.gif)

As you can see in the video, the absolute index jumps from 6/27/22 to 7/5/22, which in this case should not happen.

I edited the official example to roughly mimi

[2022-05-31 16:49] dungle-scrubs commented on #234
@rcbyr Thanks that does demonstrate what I'm trying to ask.  The last slide, when the animation ends and the slider is at rest, extends beyond the bounds so you'll never see the rest of the slide.  What I'm hoping to do is have the bottom of the final slide end up aligned with the bottom of the slider (and therefore the top of that slide will be the side that ends up cut off).

You can also see th

[2022-06-01 17:30] RigottiG opened #236 "How to set the center slide as active"
I'm facing an issue, I want to set the slide in the center as `active`, but the default is left. How can I set the center slide to 'active' so that I can apply some styles to it?

I need the center slide to be bigger than the others, I thought about using a `transform: scale(1.5)` but I think Keen Slider already applies a transform so it won't work, any idea ?

![image](https://user-images.githubu

[2022-06-03 18:53] #236 closed

[2022-06-03 19:28] rcbyr commented on #234
Hey @dungle-scrubs

thanks for the explanation. I hope that I understand you right. Did you want to do something like that? https://codesandbox.io/s/crimson-framework-4g3f4j?file=/src/App.js

[2022-06-07 12:11] rcbyr commented on #235
Hey @MrAlexand0r

thanks for pointing out the problem. It is not quite easy to solve and I have to think about it some more.

[2022-06-09 01:37] rizabek-mukanov opened #237 "keen slider disabling double tap/pinch to zoom in/out?"
i have modal with images where every image is keen slider slide. apparently double tap and pinch are not working to zoom.
is it intentionally done by lib? i was thinking keen slider itself handle slide events and thats why it disables some other events

[2022-06-11 12:32] rcbyr commented on #237
Hey @rizabek-mukanov

you just have to remove the `keen-slider` class and add the minimum needed styles to the wrapper. See here: https://codesandbox.io/s/angry-firefly-s2cm8g?file=/src/App.js:243-290

[2022-06-13 02:55] dungle-scrubs commented on #234
Hey @rcbyr thanks, this is very close to what I'm looking for.  However instead of the size being relative to the viewport (in this case it's 1.2 time the hight of the viewport) I'm hoping to have the slide be a set height, either manually defined or the natural height of the image.  Is that possible?

[2022-06-14 19:31] #237 closed

[2022-06-14 22:22] Sin1tar opened #238 "[Question] Is it possible to use overflow-x: scroll with .keen-slider?"
Hello everyone, thanks for this great library!

So, Is it possible to use overflow-x: scroll with .keen-slider?
Or, maybe, some tips to implement custom scrollbar?

[2022-06-15 07:17] #234 closed

[2022-06-15 18:52] rcbyr commented on #235
Fixed in v6.7.0

[2022-06-15 18:52] #235 closed

[2022-06-15 18:57] rcbyr commented on #238
Thank you!

Here is a codesandbox with an idea how to solve this problem: https://codesandbox.io/s/github/rcbyr/keen-slider-sandboxes/tree/v6/basic/default/react?file=/src/App.js

[2022-06-15 20:18] patrickbjohnson commented on #54
@rcbyr Sorry to chime in on an older ticket, happy to make my own. Trying to recreate this but doesn't seem like the `slidesPerView` is being respected. Purposely not setting widths on any element. The ultimate result should look something like this:

<img width="185" alt="Screen Shot 2022-06-15 at 4 18 20 PM" src="https://user-images.githubusercontent.com/1939017/173919350-6e820886-a6ad-4c6d-a1ad

[2022-06-15 20:33] rcbyr commented on #16
I think this issue can be closed. The most reasonable solution for me is to use some initial styles that prevent FOUC. Like on https://keen-slider.io

[2022-06-15 20:33] #16 closed

[2022-06-16 13:49] rcbyr commented on #54
Hey @patrickbjohnson

the API has slightly changed since I commented this issue. If you are using v6.* you have to change the options to
`slides: {
    perView: 2,
    origin: 'center',
  },
  slideChanged: (s) => {
    this.current = s.track.details.rel
  },`

[2022-06-17 03:52] PaulSchiretz commented on #154
Hi @rcbyr, hope you’re doing fine!
Any news on that one?

[2022-06-17 12:41] rcbyr commented on #154
Hey @PaulSchiretz

I will come to this issue next, if no critical bugs appear.

[2022-06-18 11:37] hycday opened #239 "Thumbnails mode with zoom on hover and thumbnail first if focused"
hi all,
I am struggling to achieve the following :

If we take the "Thumbnails" example from https://keen-slider.io/examples in vanillaJS, how to achieve:
- hovering the image currently dislayed in big, will zoom inside the image
- clicking on a thumbnails will move it to the far left (or far top if the view for thumbnails is vertical), taking into account that it's only possible if there are at l

[2022-06-20 09:37] rasteiner opened #240 "[Question] CSS defined spacing"
Hello and thanks for the awesome work, it has replaced flickity for me :)

I just have a question about being able to define the space between slides via CSS, especially with properties like `gap`.
example: https://codepen.io/rasteiner/pen/OJQYJOB

Keen-Slider thinks that spacing is `0`, and therefore the track width doesn't correspond with the real width of the content (cutting off part of the la

[2022-06-20 21:28] madebyfabian commented on #25
@liqueflies I had the same thing. You can specify `slides.perView = 'auto'` and then give every slide element a `min-width` and `max-width`. I used 75vw, but you can also set pixels.

[2022-06-21 11:34] liqueflies opened #241 "Configure treshold to prevent click on link when drag"
Hello,

I have a problem clicking on a link inside the slides while dragging. I guess that configuring the threshold  maybe this issue will be solved.

https://github.com/rcbyr/keen-slider/blob/548e2ace14b753f5ba7b63939fbf9514476e255e/src/plugins/web/drag.ts#L83
I checked on this line 5 is fixed.
Can you please move it as a parameter?

Thank you!
L.

[2022-06-23 09:49] theMosaad opened #242 "Allow touchstart (pointerdown) event"
I have a custom cursor where i listen to `mousemove` events for. keen slider seems to prevent that when dragging so the custom cursor stays in its place until dragging ends.

Found a similar issue with swiperjs where they have a [touchStartPreventDefault](https://swiperjs.com/swiper-api#param-touchStartPreventDefault) options that when i set to false, makes the custom cursor work again.

Is there

[2022-06-25 12:47] rcbyr commented on #241
Hey @liqueflies

why do you want to click on a link while dragging? If you want to achieve this, you can include this in your stylesheet after importing the default styles from keen-slider.

`[data-keen-slider-moves] * {
  pointer-events: none;
}`

[2022-06-25 12:50] rcbyr commented on #242
Hey @theMosaad,

the easiest way is to set the mousemove event listener with capture enabled.

[2022-06-25 12:54] rcbyr commented on #240
Hey @rasteiner

thanks for using the library. Unfortunately, I don't plan to make that possible in the near future, as there are many workarounds and I would have to customize many things to do so. Hope for your understanding.

[2022-06-25 12:55] #238 closed

[2022-06-25 13:00] rcbyr commented on #239
Hey @hycday

it is a bit hard to answer this question. Have you tried to implement it? Do you have a working status that shows where the problem is?

[2022-06-25 13:05] rcbyr commented on #25
Hey @liqueflies

would it be helpful when the origin parameter can be a function?

[2022-06-25 13:05] rcbyr commented on #232
Thanks for noticing me about that. I will have a look at it.

[2022-06-25 14:28] theMosaad commented on #242
TIL! glad that i won't have to use another slider, keen is the best so far for react and laravel projects. thanks for the great work and the quick response!

[2022-06-25 14:28] #242 closed

[2022-06-26 04:48] hycday commented on #239
@rcbyr sure :

here you can see my demo https://codesandbox.io/s/sparkling-sun-pv3fgf

Regarding my point "inline zoom on hovering":
1- the inline zoom on hovering works fine (using another script), but is it acting weird : the image before hovering is actually only showing part of the image, once i hover, it does inline zoom, and once i hover out, then i see full image.

2- I use the navigation a

[2022-06-27 03:13] lukethacoder commented on #219
Is there a way to keep the auto focusing on the slides without breaking the transform values?

[2022-06-27 11:14] rasteiner commented on #240
No problem, I was just wondering if I'm doing it wrong. Thanks :)

[2022-06-27 11:14] #240 closed

[2022-06-27 18:38] rcbyr commented on #239
@hycday Something is wrong with your codesandbox. The files are empty. Can you fix this?

[2022-06-27 18:52] hycday commented on #239
@rcbyr I was just about to do it, but then I read again my code and noticed my mistake...

1- was solved by adding following css
`    background-size: cover;
    background-position: center center;`

2- was solved by doing the trick of having the navigation plugin on the slider and not on the thumbnails

3- silly me didnt remove the 'dot' reference everywhere... now all good

so now i have "anothe

[2022-06-27 20:41] #239 closed

[2022-06-28 09:13] feng138168 commented on #202
I have the same problem

[2022-06-30 11:33] davidwarrington opened #244 "Progress unable to hit 1 with `perView: 'auto'` at certain viewport widths"
Version used: 6.7.0

I've attached some arrows to my slider and I'm trying to hide them when the slider is at the beginning or the end.

Using the implementation shared at the end of #71 (but updated to reflect the newer API, and slightly modified to also support looping sliders) I'm finding that on some screen sizes the "next" arrow is never hidden.

For reference here's the arrow plugin I've wri

[2022-06-30 15:23] liqueflies commented on #241
I solved calling sliderInstance.stop() method on click of my Slide :)

[2022-06-30 15:24] #241 closed

[2022-07-01 10:28] MantasMikal opened #245 "Animate slides per view change"
Hi,

First off - thanks for creating this awesome library :)
I'm trying to build a thumbnail carousel. When the user selects a thumbnail I want to preview slide to fill the whole viewport with a nice animation. Is it possible to achieve this?

Here's a demo: https://codesandbox.io/s/magical-rhodes-lmg4ce

[2022-07-01 18:36] Arimanecro opened #246 "Dynamic change of data attributes doesn't work"
Hi.
After removing the data attributes i can't scroll.
[code]

[2022-07-04 20:49] Arimanecro opened #247 "Which interface has update.options?"
Which interface has update.options?

[code]

[2022-07-07 18:40] rcbyr commented on #247
Hey @Arimanecro,

KeenSliderOptions.

[2022-07-07 18:44] rcbyr commented on #246
@Arimanecro

That's correct. To enable scrolling inside of a slide you have to set the `data-keen-slider-scrollable` attribute.

[2022-07-07 18:47] rcbyr commented on #244
Thank you for pointing out this problem to me. I will take care of the problem as soon as possible.

[2022-07-10 11:25] ToshY commented on #55
I'm not really sure about some of these outdated answers, but the following works for me (works with breakpoints):

[code]

[2022-07-14 08:43] aleor commented on #156
Thanks a lot for this fix @rcbyr, it was bugging me for a long time.. I had to use workarounds provided in other issues, like calling ```slider.update()``` within ```setTimeout``` or something similar.
After update to v6.6.14 issue is no longer there and I got rid of these additional calls to update slider.

[2022-07-14 21:24] Yagasaki7K opened #249 "Slider on the same view"
![image](https://user-images.githubusercontent.com/23272064/179088101-3e8de580-66bc-4133-aca8-a05bca06bc91.png)

Why my "keen-slider" stay that? Anyone can help me?

When I make any changes to the code, it changes back to its original state one slide at a time, but as soon as I refresh the page or go up to production mode, it reverts back to its original three-slide state - no swiping - in the sam

[2022-07-16 11:38] #247 closed

[2022-07-16 11:38] #246 closed

[2022-07-19 15:25] DaniloTrotta opened #250 "Move slides when scaling one Slide"
Hi, first of all thank you for this amazing library!

I am trying to accomplish a Slider which has an x Amount of slides which are scaled by the factor of 1.2 on hover. This is working currently , but I am wondering if it is possible to move all Slides on the right side of the scaled slide accordingly to the scaling.

I made a picture to illustrate better what I mean:
![Bildschirmfoto 2022-07-19 u

[2022-07-22 13:31] rcbyr commented on #249
Hey @Yagasaki7K

did you try to call slider.update() after setting the news data?

[2022-07-22 13:52] ArekBartnik commented on #25
@rcbyr if the `origin` became a function would it be possible to pass to it if it is a "looped" slide?
I'm working on a slider in which the first slide is aligned to left and the rest is centered but if I set `origin` to 0 then all "first" slides will be rendered with this `origin`.

[2022-07-22 14:41] Yagasaki7K commented on #249
No. You have a example to show to me?

[2022-07-24 11:52] rcbyr commented on #249
Yes, see this example. https://keen-slider.io/examples#mutation

The plugin used in this example can easily be copied into your project.

[2022-07-24 14:43] Yagasaki7K commented on #249
I do the same thing, the difference is that I added dynamic information and put it in loop and that alone was reason for every time I add two or three images, it gets stagnant on a single slide.

I don't know if it would be the case to send the code, but follow the example:

[code]

And in the React and Sanity.io with dynamics info:

[code]

[2022-07-24 14:45] Yagasaki7K commented on #249
Even using different variables to add more slides (several <div className="keen-slider__slide">), it leaves everything on the same slide.

[2022-07-24 14:45] Yagasaki7K commented on #249
Even using different variables to add more slides (several `<div className="keen-slider__slide">`), it leaves everything on the same slide.

[2022-07-25 14:58] pt-sublime opened #252 "Origin: center"
I have 10 images, and the perView setting set as 5 images.

When I use origin: center, it won't show more than 3 images at the start, as the first image is centered (so 2 blanks at top).

Is there any support/setting for always showing a minimum of slides even with the centering option enabled?

A little hack-ish way I tried was setting the "initial" setting to 2, and that delivers the intended be

[2022-07-26 11:37] chocovelod opened #253 "wrong slide size"
Hey there. When page is loaded second slide have some wrong size.
<img width="624" alt="Снимок экрана 2022-07-26 в 14 34 23" src="https://user-images.githubusercontent.com/65286428/180996641-430fd08e-94b1-4e5f-9b92-a55fff5fb98d.png">

But just a little resize of page fixing that
<img width="627" alt="Снимок экрана 2022-07-26 в 14 36 20" src="https://user-images.githubusercontent.com/65286428/18099

[2022-07-26 12:11] DuyguKeskek commented on #236
Hi @RigottiG, could you find a solution for that? I had the same issue with you and found a similar example here: https://codesandbox.io/s/github/rcbyr/keen-slider-sandboxes/tree/v6/media/zoom-out/javascript?file=/index.html:1479-1482

However, I still don't know how to get the visible centered slide. I could get the centered slide by using `slides[idx].distance`  but it's not the most ideal way t

[2022-07-28 20:33] davidmedero opened #254 "MoveToIdx with Arrows doesn't work as intended"
Thank you so much for creating this fantastic slider!!!!

Instead of just using prev or next with the arrows, I want to do something like instanceRef.current?.MoveToIdx(instanceRef.current.track.details.abs + 4) inside the onClick event handler. In other words, move from the current slide + 4.

Is something like this currently possible or would it require development?

[2022-07-29 18:37] davidmedero commented on #254
Agh! Never mind! I got the hang of it. Inside MoveToIdx I can put instanceRef2.current.options.slides.perView and/or instanceRef2.current.track.details.maxIdx

[2022-07-29 19:21] davidmedero commented on #254
In case anyone is curious, this is how I implemented it on desktop

{loaded && instanceRef.current && colorLinkArray.length > 4 && (
          <>
            <Arrow
              left
              onClick={(e) =>
                {e.stopPropagation(); instanceRef.current?.track.details.abs <= instanceRef.current?.options.slides.perView ? instanceRef.current?.moveToIdx(instanceRef.current?.track.de

[2022-07-29 19:22] #254 closed

[2022-08-02 10:14] chocovelod commented on #253
Hey people! How can i set max-width to slide?

[2022-08-07 11:37] rcbyr commented on #253
Hey @chocovelod

it would be nice to have a reproducible code example, then I could help you more easily. The problem is that the layout changes after the slider is initialized.

[2022-08-07 11:40] rcbyr commented on #252
Hey @pt-sublime

the easiest way is to use the range property. See here: https://codesandbox.io/s/crazy-hooks-e49g56?file=/src/App.js

[2022-08-07 11:46] rcbyr commented on #250
Hey @DaniloTrotta

sorry for the late answer. It would be nice if you have a code example or something similar where I can try to achieve the desired behavior. In general I would say it is probably possible.

[2022-08-07 12:01] rcbyr commented on #249
Which version do you use?

[2022-08-07 13:18] chocovelod commented on #253
Problem was solved by using max-width on whole div with className="keen-slider"

[2022-08-07 18:03] #253 closed

[2022-08-08 05:57] ray-zero2 opened #255 "Slide rewinds back"
If we press the slide forward button repeatedly, it goes back.

sample: https://codesandbox.io/s/determined-glitter-b9rvzq
1. we push next-button many times
2. we resize window size
3. we press next-button repeatedly and stop when No.1 slide comes to the center.
4. we press it again, it goes back when No.2 slide comes.

https://user-images.githubusercontent.com/42022035/183349078-6ddc8006-a2f8-4d3

[2022-08-08 11:43] rcbyr commented on #244
Hey @davidwarrington

can you tell which version did you use when facing this problem. I couldn't reproduce it with the current version (v6.7.0).

[2022-08-08 15:57] Yagasaki7K commented on #249
"keen-slider": "^6.7.0"

[2022-08-08 20:00] rcbyr commented on #249
I know I ask this before but please try it again to add the mutation observer plugin. Just copy the following code in the plugin array.

`(slider) => {
  const observer = new MutationObserver(function (mutations) {
    mutations.forEach(function (mutation) {
      slider.update();
    });
  });
  const config = { childList: true };

  slider.on("created", () => {
    observer.observe(slider.contai

[2022-08-09 07:24] rcbyr commented on #255
I was able to reproduce the problem and am already working on a solution.

[2022-08-10 11:32] federicogomezcactus commented on #202
I have the same problem with TouchableOpacity

[2022-08-16 21:08] dmrobbins03 opened #256 "Q&A / Feature Request: Snap Duration?"
Thanks for Keen-Slider, it's great!

Quick question: is there a way to modify the snapping and duration of a slide snap? For example, if you drag the track and release, there is animation that I can't figure out how to control.

Via the docs, `defaultAnimation` only seems to affect `moveToIdx`, `next` and `prev`.

[2022-08-19 13:45] aecorredor commented on #249
@rcbyr I think I'm experiencing this same problem. I followed the mutation and even the resize observer examples, and I still get the same behavior:
1. Slider works fine in the initial state with X number of slides.
2. Slider breaks and shows all slides without any sliding behavior after I add/remove subsequent slides dynamically.

If I inspect the HTML, I see that the `style` that animates the tr

[2022-08-19 14:30] aecorredor commented on #249
I noticed that my issue was somehow caused by passing a `key` (best practice) to my slider elements (I'm returning them from a dynamic map). Not sure what caused that though. Seemed to be an internal thing with keen slider?

[2022-08-19 15:52] rcbyr commented on #249
Hey @aecorredor

could you create a reproducible example in a repo or codesandbox? The key property is actually not a problem for the slider. I also use it in some examples. I could imagine that the key changes when it shouldn't.

[2022-08-19 15:58] aecorredor commented on #249
@rcbyr thanks for the prompt answer. Let me see if I can get something up.

I didn't follow this: `I could imagine that the key changes when it shouldn't.`. I don't know how that would happen though. Right now I was using the image's URL as the key, which is unique per image, obviously. And my code just has a call to `.filter` which has some logic for selecting the images it wants to show in the s

[2022-08-20 12:59] rcbyr commented on #256
Hey @dmrobbins03

thank you very much. You are right, at the moment it is not possible to change this animation directly. A solution would be to create a plugin for that. I will create an example for you.

[2022-08-22 08:54] abishekilango-wayfwd opened #258 "Not able to move/drag to other cards when using static content to populate slider"
Version used: 6.6.5

Slider is implemented with react hook. I did some digging around and found that the size property of the slider is `1` which is not the container/viewport width.

But when added a delay of ~1s before rendering using a loading state, the slider works as expected. In this case, the size property has the correct container width.

[2022-08-23 08:38] harryduong91 commented on #204
@ponciusz It's doesn't work with responsive

[2022-08-24 15:16] harrygr opened #259 "Handling 2-way slide navigation"
I'm trying to use keen slider where both the slider and a list of buttons can react to a given selected slide.

See this example: https://codesandbox.io/s/blissful-chatterjee-e42r1d?file=/src/App.tsx

I have a slider consisting of 5 slides. When the slide changes I want to update the component `selectedSlide` state with the currently active slide ID. I use this state to colour a corresponding butt

[2022-08-25 11:41] jackgregory commented on #113
@rcbyr really keen to see this example as well. The sandbox you posted is just the default centred example. Could you share the one you created for @filippolcr ? Thanks!

[2022-08-26 11:52] jeremies commented on #233
@rcbyr In my app sometimes the boxes of the sliders overlap implementing this solution. There is an alternative way to do that?

[2022-08-26 16:38] pySilver commented on #239
@hycday do you have a working example from the link above by any chance? I'm looking for a very similar implementation. What zoom lib did you use?

[2022-08-26 16:45] pySilver commented on #73
@ruijdacd have you managed to implement pinch-zoom inside a slide?

[2022-08-26 16:48] pySilver commented on #237
@rcbyr thanks for your work. What is the reason behind tweaking touch-actions by default? Is this a mere usability thing?

[2022-08-29 14:57] pySilver commented on #230
@rcbyr I think I stumbled upon a similar case. In other words, the wrapper around the vertical slider should have a fixed height by itself, right? And that height should be calculated as `n * singleSlideHeightWithPaddingsAndMargins` ?

[2022-09-01 08:09] mossypaul opened #260 "Image lazy loading"
Hey,
I'm not sure if it's just for my implementation, but each slide has an image, and so I want to lazy load the images, however when I use the loading="lazy" on an image, not of them get loaded. Is there something about the slider that's breaking it?

Cheers,
Paul

[2022-09-01 14:44] riderx opened #261 "How to use in vue 3 setup script ?"
taking the first exemple of the doc and convert it to setup script break the exemple
[code]

Result
<img width="484" alt="CleanShot 2022-09-01 at 15 44 28@2x" src="https://user-images.githubusercontent.com/4084527/187943270-6e4da0dd-3569-4bfc-ad71-c5cfc895c503.png">

[2022-09-01 16:07] riderx commented on #261
Seems adding
[code]
fix the issue

[2022-09-02 05:01] pcoeper-dd commented on #244
I think I am kind of having the same issue with `v6.7.0`.
I have a large container of `1492px` width in which I want to display 6 slides. As I want to show a bit more than three slides per view I chose the following options:
[code]

I assume the width of each slide is not calculated correctly since I only see three slides where the third slide is already cropped on the right side. And when I try t

[2022-09-05 11:13] sorknes opened #262 "Stop auto move on mouse over"
Hi,

I would like to stop [auto move](https://codesandbox.io/s/github/rcbyr/keen-slider-sandboxes/tree/v6/autoplay/automove/react-typescript?file=/src/App.tsx) on mouse over. How would you solve this, or does anyone have an example?

[2022-09-05 11:26] jeremies commented on #233
Hey @rcbyr,
I tried to do a `yarn build` and then the bug doesn't occur!

Thank you!

[2022-09-05 16:05] mossypaul commented on #43
I'll also add that this would be great to be built in by default, it would be a win for accessibility if everyone got this

[2022-09-08 10:03] ponciusz commented on #262
Hi
check this: https://codesandbox.io/s/keen-slider-auto-move-ifqsjj?file=/src/App.tsx

[code]

[2022-09-08 13:41] sorknes commented on #262
Perfect @ponciusz - Thanks!

[2022-09-08 13:41] #262 closed

[2022-09-10 06:03] rcbyr commented on #261
Hello @riderx

can you tell what broke. It works fine for me. I created an example using vite and replaced the HelloWorld.vue with your code. I only had to adjust the outer container to give the slider a fixed width.

[2022-09-10 10:47] rcbyr commented on #261
Hey,

the example works differently because the slider's parents have a defined width. In my test with vite, the body was a flexbox by default.

Alternatively, you could use a ResizePlugin for this implementation:
[code]

[2022-09-10 11:00] riderx commented on #261
Wow thanks that better than my hacky solution !

[2022-09-10 11:15] rcbyr commented on #260
Hey @mossypaul

could you provide a code example?

[2022-09-10 11:16] rcbyr commented on #258
Can you update to the current version 6.6.7? Is the error still there?

[2022-09-10 11:26] rcbyr commented on #259
Hey @harrygr

I adjust your codesandbox. https://codesandbox.io/s/zealous-frost-rujsrw?file=/src/App.tsx

[2022-09-11 09:19] #261 closed

[2022-09-12 08:59] #233 closed

[2022-09-12 09:37] rcbyr commented on #154
@PaulSchiretz

I don't know if the problem is still relevant for you, but I made a change in v6.8.0 that improves the performance start with complex markups. Maybe this already helps you.

[2022-09-12 20:12] Asbestcode opened #264 "Slides derail when viewport changes only in one dimension (help wanted)"
I am working on a simple full screen image slider that moves horizontal on landscape _and vertical on portrait._
The slides are centered and use the full height _and width._ I got what i wanted by setting min-width _and min-height_ to fit-content, but there is still one problem. If the window is resized only in height _or width,_ the slides derail:

https://codesandbox.io/s/recursing-cookies-2g7v3

[2022-09-13 21:13] PaulSchiretz commented on #154
Hi @rcbyr, thanks for the update, yes performance  is quiet good now!! Although i still think it would still be an improvement to move all slides at once, i'm happy with the performance and overall with the slider! Thanks for the great work!

Cheers,
Paul

[2022-09-14 13:51] rcbyr commented on #264
Hey @Asbestcode

maybe there is a bug. Does the ResizeObserver-plugin fix your problem. See here: https://codesandbox.io/s/dreamy-germain-8cvn3m?file=/index.html:0-2217

[2022-09-14 18:36] kmcabano opened #266 "autoplay issue in NextJs"
hello, fairly new to all of this so i apologize if this is a dumb question. I'm using NextJs. i've created a slider set for an automatic, smooth, continuous scroll much like the one in [this example](https://codesandbox.io/s/github/rcbyr/keen-slider-sandboxes/tree/v6/autoplay/automove/react?file=/src/App.js). it appeared to work, but upon refreshing the page, the animation stopped. i've since foun

[2022-09-14 19:08] ponciusz commented on #266
if it stops from some reason try to force move it by effect I did some pause/start example recently you could use some effect like this
[code]

number five should be your elements length - 1 probably.
 and your `loaded` is in effect dependency

personally I recommend to use Observer and start/pause slider based on if its in view as your performance might suffer if its keep updating DOM

[2022-09-15 19:22] PaulSchiretz opened #267 "Blocking of mouse click events is broken since 6.8.0"
Hi @rcbyr,

Since the last update the blocking of link clicks while dragging doesn't work anymore on Desktop(e.q. Mouse input) on touch devices it works fine. Tested on chrome. I have seen you changed the drag logic for better performance, but this breaks the slider on desktop. I guess it might be a timing issue between click and drag start events or mouse release and drag end. I currently rolled

[2022-09-15 20:38] rcbyr commented on #267
Hey @PaulSchiretz

thank you for noticing me about this problem. I have created a fix in v6.8.1.

[2022-09-15 20:52] PaulSchiretz commented on #267
Perfect, once it's available via jsdelivr i give it a try!

Thank you!

[2022-09-15 23:47] PaulSchiretz commented on #267
Works! :-) Thank you!

[2022-09-15 23:47] #267 closed

[2022-09-16 10:36] tristantbg commented on #212
Hi @rcbyr,

I am reopening this as I think it would be nice to keep the dragChecked event and be able to choose a minimum distance in pixel for it to be triggered. Sometimes a slight move + click with the mouse make this example not work.

What do you think ?

Best

[2022-09-18 11:56] #252 closed

[2022-09-18 11:57] #259 closed

[2022-09-18 13:07] rcbyr commented on #154
Thanks for using the library and the feedback. I haven't forgotten, but still thinking about the best solution.

[2022-09-19 07:38] rcbyr commented on #266
Hey @kmcabano

please update your version to v6.8.2. I've created a fix for the use with React 18, which I believe you are using.

[2022-09-19 09:14] zabefofoon opened #268 "is it there lazy destory in Vue?"
When I use KeenSlider In 'Transition' Component,
slide track is collapsed because 'destroy()'  is called right away...

if keenSlider could receive props like destoryDelay, we can solve it.

[2022-09-19 09:18] rcbyr commented on #268
Hey @zabefofoon

could you provide example code or can you create a codesandbox?

[2022-09-20 08:29] slavanossar opened #269 "Fixed height slider with variable width image slides"
I'm having an issue creating a particular layout, where the slider has a fixed height and contains images with different aspect ratios, with options `mode: 'free-snap'` and `slides.perView: 'auto'`.

![slider](https://user-images.githubusercontent.com/7077600/191201109-366d4762-d035-4794-a8bd-87f5b9ea4619.jpg)

I've created an example repo here: https://github.com/slavanossar/keen-slider-auto-widt

[2022-09-21 22:53] danielrob commented on #28
`data-keen-slider-clickable` just seems to disable the click events altogether - no drag is now possible. Is it possible to have both drag and no mouseup link click after dragging?

[2022-09-22 09:17] rcbyr commented on #269
Hey @slavanossar

please have a look at this codeexample. https://keen-slider.io/examples#resize

The ResizePlugin will fix your problem.

[2022-09-22 13:56] Asbestcode commented on #264
Yes @rcbyr the ResizeObserver-plugin fixes the issue.

Separately, i had another issue where the slides don't align properly after the images are loaded for the first time (i could not reproduce it on CodeSandbox: https://asbestcode.github.io/RO_fit-content/), which doesn't happen when I calculate the slides per view instead of "auto". So i am now going with that and ResizeObserver plugin.

Thank

[2022-09-23 16:34] kmcabano commented on #266
I found out that it worked on the deployed version of the site, just not on my local copy

[2022-09-23 16:34] #266 closed

[2022-09-23 19:52] guilhermediniz1 opened #270 "How to know which element is in center, when I use more than 1 per view"
I wanted to know if there is a way to know which element is centered
![image](https://user-images.githubusercontent.com/50873941/192046324-5dee9b25-3be1-4075-823e-76f09cd31471.png)
here, for example the element three is at center. So maybe there is a method for this.

I tried an approach using the total length and finding which element is positioned at middle, but i was kinda bad.

[2022-09-23 20:35] rcbyr commented on #270
You can always get the currently active slide (relative and absolute) from the slider instance. There are also hooks that are triggered when slides are changed. I have created a code sandbox for yours: https://codesandbox.io/s/friendly-kalam-8u4uec?file=/index.html

[2022-09-23 22:32] guilhermediniz1 commented on #270
Thanks!

[2022-09-23 23:31] #270 closed

[2022-09-27 04:17] #269 closed

[2022-09-28 15:02] ryanaker opened #271 "Slider Syncing"
Its it possible with Keen slider to do what slickJs calls Slider Syncing?

https://kenwheeler.github.io/slick/ (browser search Slider Syncing to bring you down the page to the example)

[2022-09-30 08:24] manspeterson opened #272 "Translate3d rounding error"
Hi,

I'm using the react version of keen-slider. My slider is placed inside a container that is set within a `display: grid`.

At certain viewport widths the calculated `translate3d()` is off by `1px`, meaning each incremental slide gets pushed +1 pixel to the side. And by `1px` off I mean the base of the `translate3d()` is `1px` less than the automatic set `min-/max-height` for each slide (i.e. `

[2022-10-02 08:10] demosofa opened #273 "Property 'next' or 'prev' does not exist on type with React Native useKeenSliderNative hook"
I followed official doc: [keen-slider/native](https://keen-slider.io/docs/react-native) and I noticed that the doc mentions the `next` and `prev` function from `slider` instance of **Event Hook** but when I used it in my expo project, they didn't appear when I typed and run in vscode and avd.

[2022-10-04 15:10] demosofa opened #274 "slider not updating the slides number when component rerender in React Native expo"
I followed this offical example: [React Native](https://snack.expo.dev/@rcbyr/default) and this doc [keen-slider/native](https://keen-slider.io/docs/react-native). I tried to make my **slider component** with **dynamic slides number** since the data from slides **only avalible after second rerendering of function App()** so the first render is just empty array. Here is my slider component
[code]

[2022-10-05 15:00] Asbestcode commented on #264
Closing the issue

[2022-10-05 15:00] #264 closed

[2022-10-05 15:52] ivancuric opened #275 "Prevent re-render flash when making a full loop using dynamic content?"
Looking at the [dynamic content demo](https://keen-slider.io/examples#dynamic-content) (in any language), there is a brief re-render flash once the available slides in the DOM are looped over and the slide settles.

Is there a way to avoid this? I've looked at other examples, and this example seems to be the only one exhibiting this behaviour.

For instance, the [Datetime Picker](https://keen-slid

[2022-10-07 11:51] ivancuric opened #276 "Clicking on the slider before it settled compounds the sliding inertia and continues scrolling"
Reproduction in video:

https://user-images.githubusercontent.com/2827047/194546614-ff6f499e-5d74-4268-85b1-838287afcd5d.mov

[2022-10-08 10:45] dungle-scrubs opened #277 "Position bar instead of dots. Is this pattern possible?"
Hi,

I'm attempting to implement the following with `keen-slider` and have unsuccessfully tried to use the information within `track.details` to build it, but I can't get it right.

The idea is to have the highlighted area of the bar represent the visible area of slides within the browser's viewport. In this picture, there would probably be about 6 slides. But if there were only 3, the highlighted

[2022-10-10 14:05] timfuhrmann opened #278 "slider.update() doesn't position new element if children length stays the same"
Adding new elements and calling `update()` properly positions the new slide/element. But replacing an element somehow doesn't, no transformation will be applied to the new child.

After investigating I found this check, which might be the problem, since the length is not changing - calling `slider.update(slider.options)` works as a workaround - it this intended?
https://github.com/rcbyr/keen-slide

[2022-10-12 09:38] Erehr opened #279 "Possible feature: Fader without position:absolute"
Came across a nice little trick and wanted to share.

In fader demo container has a fixed height and slides have position:absolute which is fine for image slides but not for any kind of dynamic content/text. Using css grid we can put all slides into one single grid column and make them all overlap and include negative z-index for hidden slides. Now the entire slider height is always equal to the t

[2022-10-12 15:28] pablojacosta commented on #255
Hey guys, I'm experiencing the same issue. I hope we can get a solution soon. Thank you very much!

[2022-10-14 05:23] xiaoyu-tamu opened #280 "Need help on writing plugin / override default config"
<img width="654" alt="image" src="https://user-images.githubusercontent.com/33362998/195768459-c7354b89-9af5-44b3-8c0e-3bd01754768b.png">

I want set origin per slide, the first slide have origin "auto" (no padding on left side) and rest sliders have origin "center".

I think the offset for origin is calculated here, is there anyway to change this via plugin?

https://github.com/rcbyr/keen-slider/

[2022-10-15 06:15] rcbyr commented on #212
Hey @tristantbg

I will provide a property that makes this threshold configurable.

[2022-10-15 07:24] #250 closed

[2022-10-15 07:25] #258 closed

[2022-10-15 07:25] #260 closed

[2022-10-15 12:13] rcbyr commented on #278
Hello @timfuhrmann

I think that could be optimized. Thanks for pointing it out.

[2022-10-15 17:50] rcbyr commented on #280
Hello @xiaoyu-tamu

the only way to achieve that at the moment is the following: https://codesandbox.io/s/holy-lake-hmdbl8?file=/src/App.js

Hope it helps!

[2022-10-15 17:54] rcbyr commented on #279
Thank you very much for sharing this. This seems to be the better implementation.

[2022-10-15 19:15] rcbyr commented on #277
Hey @dungle-scrubs

I've created a codesandbox for you: https://codesandbox.io/s/heuristic-ellis-b8w644?file=/src/App.js

[2022-10-15 23:06] xiaoyu-tamu commented on #280
it works, thanks

[2022-10-15 23:06] #280 closed

[2022-10-17 09:58] FLOKITOTO opened #281 "Unable to assign type 'null' to type 'KeenSliderInstance<{}, {}, KeenSliderHooks>'."
Hello I came across this error for this example, how can I do?
Angular : [exempleCode I've followed](https://codesandbox.io/s/github/rcbyr/keen-slider-sandboxes/tree/v6/basic/spacing/angular?file=/src/app/app.component.ts)

Thanks in advance

[code]

StackTrace
[code]

[2022-10-17 10:29] rcbyr commented on #281
Hey @FLOKITOTO

can you try this?`  slider: KeenSliderInstance | null = null`

[2022-10-17 10:55] FLOKITOTO commented on #281
Thank you

[2022-10-17 10:57] #281 closed

[2022-10-18 00:01] beadlespouse opened #282 "Slider skips to the next slide if slider is clicked immediately after a slide change (with slides per view > 1)"
If a user scrolls down the page immediately after having changed slide on a centered, snapping keen slider, the slider progresses to the next slide quite suddenly.

https://user-images.githubusercontent.com/40166257/196305163-2cfabd57-77f2-4fb0-a879-08ef1315a9d1.MOV

[2022-10-18 03:18] dungle-scrubs commented on #277
Thanks @rcbyr , much nicer than what I was attempting.

[2022-10-18 06:33] #277 closed

[2022-10-18 08:39] pixobit opened #283 "Q&A / Is it possible to exclude elements from slide touch?"
I'm looking for something similar to this [noSwipingClass](https://swiperjs.com/swiper-api#param-noSwipingClass)
Basically I have some slidable components, and have some draggable elements inside them. The problem is, that whenever I'm trying to drag the items inside the slider, the slider kicks in, and I can't drag them...

[2022-10-18 10:58] beadlespouse commented on #276
I wonder if this is related to #282 ?

On any slider with more than one slide visible, if you scroll and click just after the scroll finishes, the slider scrolls again to the next slide. This effect is also triggered by a mobile 'scroll' if the user 'scrolls' from the slider area.

This is clear to see on the examples page.

[2022-10-18 11:01] beadlespouse commented on #282
Update - On any slider with more than one slide visible, if you scroll and click just after the scroll finishes, the slider scrolls again to the next slide. This effect is also triggered by a mobile 'scroll' if the user 'scrolls' from the slider area.

You can see this issue on the keen slider examples page. Try drag scrolling any slider with more than one slide visible, then click on that slider

[2022-10-18 13:55] rcbyr commented on #283
Hey @pixobit

see `data-keen-slider-clickable` -> https://keen-slider.io/docs#attributes

Codesandbox example: https://codesandbox.io/s/bold-cray-dtrggo?file=/src/App.js

[2022-10-18 13:59] rcbyr commented on #282
Hey @beadlespouse

this is the same problem as described here #276. The fix will deployed in the next days.

[2022-10-18 14:30] pixobit commented on #283
Tried it, but unfortunatelly it seems like it's breaking things under the hood.
I tried recreating it here with sliderjs: https://codesandbox.io/s/zealous-shirley-g8imr9?file=/src/App.js

[2022-10-18 18:27] rcbyr commented on #282
Fixed in version v6.8.3.

[2022-10-18 18:27] rcbyr commented on #276
Thanks for sharing this. Fixed in version v6.8.3.

[2022-10-18 18:28] rcbyr commented on #273
Thank you for noticing me about that. Fixed in version v6.8.3.

[2022-10-18 18:28] #273 closed

[2022-10-18 19:25] pixobit commented on #283
Thanks for the quick fix, you're awesome!

One thing I noticed, is that it needs to be a wrapper element that gets the `data-keen-slider-clickable` attribute, otherwise it doesn't work. But you're probably aware of this, since you already added that in the example.
Anyways, great work. Will close this issue now.

[2022-10-18 19:25] #283 closed

[2022-10-19 07:16] #276 closed

[2022-10-19 10:10] #282 closed

[2022-10-26 09:30] manspeterson commented on #272
Now looking at the code, while using `renderMode: 'performance'`, this indeed seems to be the intended behavior since `performance` does add a `Math.round()` to the calculations.

Maybe this should be explained in the documentation more in detail under `renderMode`?

[2022-10-26 12:33] roshansachan opened #284 "Dots cause a layout shift"
While doing performance analysis of a page I observed that the dots section is highlighted in the goggle chromes "Rendering -> Layout shift Regions".
Also attaching the video from the performance tab timeline for reference.

https://user-images.githubusercontent.com/4952904/198026901-e9647495-4009-4a3e-a9e8-9964e43b98a0.mov

[2022-10-26 18:19] rcbyr commented on #284
Hey @roshansachan

this is something that is not caused especially by the slider, but by your implementation. If you can provide your code in a code sandbox, I can help you fix this problem.

[2022-10-27 13:55] Dachi301 opened #285 "perView: "auto" how to remove easing animation"
https://user-images.githubusercontent.com/69164520/198303614-c02608d9-d9a0-4c20-806c-9005f0c7710d.mp4

When I have auto perView It has easing animation and I want to prevent that. Its emergency

![sliderRef_img](https://user-images.githubusercontent.com/69164520/198304206-edea408e-0a6b-43f6-af39-582c020280a3.jpg)

[2022-10-27 14:01] rcbyr commented on #285
You have to less slides to create a perfect loop. Disable the loop or make the slider container smaller.

[2022-10-28 07:44] vipindigiqt opened #286 "Slider controls break if using more than 1 slide per view"
Hi there, I'm using React version, and started with the examples.

So, I picked this example, which has arrows and dots. - https://codesandbox.io/s/github/rcbyr/keen-slider-sandboxes/tree/v6/navigation-controls/arrows-and-dots/react?file=/src/App.js

The thing is, everything works fine when I have 1 slide per view, but It breaks when I change it to 3 slides per view.

Both the arrows and dots are

[2022-10-28 10:32] Dachi301 commented on #285
Thanks for response, but I want it with loop and are there any alternatives to solve this problem?

[2022-10-28 20:09] davidmedero opened #287 "Can't display slider inside headless UI modal with Next js / React"
Very similar to this stackoverflow question: https://stackoverflow.com/questions/71934538/angular-keen-slider-slider-just-work-in-modal-when-resize-window

This issue is only present when keen slider is placed inside a modal. Slider works perfectly fine everywhere else.
Slider appears if I resize the browser or change something random in my code then save.

Any ideas on how I can work around this?

[2022-10-29 11:36] rcbyr commented on #287
Hey @davidmedero

please have a look at this example. https://keen-slider.io/examples#resize
The ResizeOberserver plugin will probably solve your problem.

[2022-10-29 13:39] davidmedero commented on #287
That worked! Thank you so much!

[2022-10-30 18:01] #287 closed

[2022-10-30 18:39] davidmedero opened #288 "How to properly interpolate dynamic Initial option?"
Hi rcbyr! Sorry to bother you again. Instead of hardcoding an index like 0 or 1 for the initial Option, I tried adding a state which represents the index of whatever image I click on. It's not working and I've tried other things like adding a mutationObserver, resizeObserver, setCurrentSlide to the state, useEffect hooks, detailsChanged then moveToIdx to that state but it's hacky and stops working

[2022-10-31 20:28] Peechiz opened #289 "Autoplay example causes a memory leak"
[code]

The example shown in the docs should include `slider.on('destroyed', clearNextTimeout);` at the end of the plugin.

[2022-11-08 06:52] rozhover opened #290 "drag with nextjs build"
hello, thanks for the great slider. the drag works great with nextjs in dev mode, but it's not working with nextjs build. the width of the slides aren't calculating properly and get stuck in between transition after drag end. i don't see any errors in the console. i'm not sure but could maybe be something with the package file? not sure if this is helpful but i came across this, an issue with cjs

[2022-11-08 16:48] rozhover commented on #290
6.8.3

[2022-11-08 18:02] rcbyr commented on #290
Hi @rozhover, have you tried the ResizePlugin (https://keen-slider.io/examples#resize). If that doesn't fix your problem, it would be very helpful if you could share your code or create a reproducible example?

[2022-11-11 19:26] sunygao commented on #290
hi @rcbyr, i'm also seeing this issue using keen slider 6.8.2. in addition to the issues with dragging, `prev()`, `next()` and `goToIdx()` functions also seem to be skipping slides. this issue only occurs with the statically generated next.js build  and appeared after when we upgraded to next 12.3.x (tho it's worth noting that the issue doesn't show up in 12.3.2-canary.19).

i tried your suggestio

[2022-11-12 14:28] griffan113 commented on #290
I'm facing this issue too with Nexjs 12.3.1 and keen slider 6.8.3

[2022-11-14 19:59] sunygao commented on #290
i investigated further and it seems that the issue is only happening when typescript is also being used. i've created a reproducible example [here](https://github.com/sunygao/keen-carousel-ts).

to reproduce, run:
[code]

result:

https://user-images.githubusercontent.com/1229178/201754053-5ba3df68-2b47-4f7b-9fa2-252d325db787.mov

[2022-11-15 08:39] warrenrhodes opened #291 "Can't use react native component"
Hello,
when i try to use keen slider for react native i a get this error
<img width="1077" alt="Screenshot 2022-11-15 at 09 39 39" src="https://user-images.githubusercontent.com/46690709/201870981-d6f8585e-cb64-451d-a571-eca6806f9307.png">

[2022-11-19 00:48] spacedawwwg opened #293 "Allow opposite direction scroll with mousewheel"
When using the mouse wheel example (in horizontal mode), a user is unable to scroll past the slider (i.e. vertically) when the mouse is positioned over the slider.

Is there a way to possibly have a threshold on the scroll an only scroll hijack if the user is trying to scroll left of right?

[2022-11-19 17:55] sadeghbarati opened #294 "Two `row` slider"
https://swiperjs.com/demos#grid

Is there a way to use `Grid` style just like swiper demo?

https://codesandbox.io/s/zen-nobel-gn8rel?file=/styles.css

[2022-11-21 10:36] Marsony commented on #290
You shall try to preload your component with next/dynamic with { ssr: false } option

[2022-11-23 19:11] rcbyr commented on #290
Thank you very much for pointing out this problem to me. Thanks especially to @sunygao for creating a reproducible example. I have created a fix for version v6.8.4 and hope it works for you.

It's really strange behavior and I'd love to dig deeper into this problem, but unfortunately I don't have the time right now. If you take a look at my fix, you will see that I made a workaround to avoid start

[2022-11-23 19:24] rcbyr commented on #290
Sorry, it doesn't work after all. It seems that my "console.logs" prevented this problem and not the line of code I changed. I'll take another look at it.

[2022-11-23 19:37] rcbyr commented on #290
I have released v6.8.5. Looks good to me now.

[2022-11-25 16:08] #290 closed

[2022-11-29 12:01] jullysuvariya opened #295 "breakpoints not rendering correct number of slides on refresh"
[code]
I want to render different number of slides based on breakpoints. This works perfectly when website is loaded on full desktop screen and resized to any other width. But when I go to mobile screen and refresh then it displays 3 slides instead of 1. Can someone help me fix this?

[2022-11-30 11:21] jullysuvariya commented on #295
Version: "keen-slider": "6.7.0"

This is my component.
[code]
This is how I am using the component.
[code]
[code]

[2022-11-30 13:11] rcbyr commented on #295
Can you upgrade to the latest version v6.8.5? Does the problem still occur then?